<ul class="nav nav-underline justify-content-center">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/clients">To clients</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/landlords">To landlords</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/apartments">To apartments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/rents">To rents</a>
    </li>
    <form action="/clients/search">
        <input type="text"
               placeholder=" Search..."
               name="search"/>
        <button>
            <i class="fa fa-search"
               style="font-size: 18px;">
            </i>
        </button>
    </form>
</ul>