<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Editing rent</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
        crossorigin="anonymous">
</head>
<body>
<header th:insert="sections/header"></header>

<form method="post" th:action="'/rents/' + ${rent.getId()} + '/edit'">
  <input th:value="${rent.getUsername()}" name="username" placeholder="Enter username..." class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  <br>
  <input th:value="${landlord.getPass()}" name="pass" type="password" placeholder="Enter pass..." class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  <br>
  <label for="apartment_id">Select apartment:</label><br>
  <select id="apartment_id" name="apartment_id">
    <option th:selected="${apart == landlord.getApartment()}" th:each="apart: ${apartments}" th:value="${apart.getId()}" th:text="${apart.getTitle()}"></option>
  </select>
  <br>
  <input name="addClient" type="submit" value="Edit" class="form-control btn btn-outline-primary">
</form>

<div th:insert="sections/footer"></div>
</body>
</html>