<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<header th:insert="sections/header"></header>

<form method="post" action="/blog/add">
    <input name="title" placeholder="Enter title..."/>
    <input name="tag" placeholder="Enter tag..."/>
    <input name="shortInfo" placeholder="Enter short info..."/>
    <textarea name="longInfo" placeholder="Enter full info..."></textarea>
    <input name="createPost" type="submit" value="Create">
</form>

<div th:insert="sections/footer"></div>
</body>
</html>